- %w(blue green gray).each do |color|
  %div{class: "service_box #{color} box"}
    %h2.title dlkasldlask
    .text
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vivamus vitae risus vitae lorem iaculis placerat. Aliquam sit amet felis. Etiam congue.
    = link_to root_path, class: 'read_more' do
      %span.icons-arro_read_more
      .left
        Saiba Mais

