@import bootstrap-sprockets
@import bootstrap
@import bootstrap-datetimepicker
@import font-awesome
@import app
@import icon
@import nestable
@import chosen
@import bootstrap_calendar
@import jquery.plupload.queue
@import "http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"

\*:focus
  :outline 0 !important

abbr[title]
  :border none !important

.scrollable
  :min-height 730px

.name-business
  @extend .navbar-brand
  :margin 80px 0 30px 0
  :color #3C4144

#uploader
  :width 100%

#gallery_images
  :margin 20px 0
  :width 100%

  .gallery-image
    :width 176px
    :position relative
    :margin 10px 4px 0

  .remove-image
    :top 3px
    :right 8px
    :position absolute
    :font-size 18px
    :background #fff
    :color red
    :padding 5px

.plupload_filelist_footer
  :height 42px
  :margin-bottom 10px

.plupload_header
  :background #1aae88

  .plupload_header_content
    :background-image unset
    :padding-left 10px

.mt-15
  :margin-top 15px

.links-actions
  a
    :margin 0 5px

.mr-10
  :margin-right 10px

.mr-20
  :margin-right 20px

.navbar-brand
  :width 200px

.logo-target
  :width 100%

.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > th,
.table > tfoot > tr > td
  :border 1px solid #EAEEF1

.table
  td
    :vertical-align middle !important

.panel
  .table-striped
    thead
      th:last-child
        :border-right solid 1px #eaeef1

.gallery-img
  .dd3-content
    :height 156px

.banners-dd3-content
  .dd3-content
    :height 200px

.edit_banner
  .form-group
    :float left
    :width 100%

.ml-15
  :margin-left 15px

.navbar-brand
  img
    :margin-top 13px
