<h2>Grupos</h2>

<table class="table table-bordered table-striped">
  <tr>
    <th>Nome</th>
    <th></th>
  </tr>
  <% collection.each do |r| %>
    <tr>
      <td><%= r.name %></td>
      <td>
        <%= render 'admin/shared/actions', r: r %>
      </td>
    </tr>
  <% end %>
</table>

<%= render 'admin/shared/create' %>
