<p>Oi <%= @resource.email %>!</p>

<p>Foi requisitado um link para alterar sua senha. Você pode fazer isto através di link abaixo.</p>

<p><%= link_to 'Alterar minha seinha', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Se você não requisitou isto, por favor ignore este e-mail.</p>
<p>Sua senha não será alterada se você não acessar o link acima e criar uma nova.</p>
