<p>Olá <%= @resource.email %>!</p>

<p>Sua conta foi bloqueada devido a um excessivo número de tentativas de login sem sucesso num curto período de tempo.</p>

<p>Click the link below to unlock your account:</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, :unlock_token => @token) %></p>
